<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <!-- <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li> -->
  <li><a href="https://goo.gl/forms/m9UVrwamVI9GJzsi1" target="_blank">Survey</a></li>
  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfl42fh919Cnt7UHPtMchQEe77zPKdnbDrvp0r0rmFaYxhV5Q/viewform?usp=sf_link" target="_blank" target="_blank">Donate</a></li>
  <li><a href="https://mailchi.mp/5db27145d867/redriverresole" target="_blank">Subscribe</a></li>

</ul>
